*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ede0d4;
    height: 1450px;
}

/* BARRA DE NAVEGACION */

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);  
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 90%;
}


.imagen{
    width: 100%;
    height: 670px;
    background-image: url('imagenes/hero_image.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}
.barra{
    font-family: 'Caveat', cursive;
    position: absolute;
    width: 100%;
}

.active:hover{
    color: rgb(203,153,126) !important;
}
.marca{
    margin-left: 30px;
    font-weight: 900;
    color:#ede0d4 !important;
}
h1{
    color:#ede0d4;
    text-align:left;
    font-size: 70px;
    font-family: 'Caveat', cursive;
    padding-left: 40px;
}
.titulo{
    padding-top: 150px;
    padding-left: 40px;
}

/* IMAGENES */
.tituloSecundario{
    color:#000000;
    text-align:left;
    font-size: 70px;
    font-family: 'Caveat', cursive;
    padding-left: 40px;
    margin-top: 50px;
    border-bottom: 1px solid #000000;
}

img{
    margin-top: 30px;
    border-radius: 10px;
}

img:hover{
    transform: translate(10px);
    transition:linear;
    transition-duration: 1s;
    box-shadow: -4px 7px 3px 2px rgba(203, 153, 126, 0.43);
}

/* CONTACTO */

h4{
    color:black;
    font-family: 'Caveat', cursive;  
    margin-top: 20px;
}

.form-label{
    font-family: 'Caveat', cursive;  
    margin-top: 10px;   
}
.btn{
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(203,153,126);
}

.iconos2{
    color:black;
    margin-top: 35px;
}
.iconos2:hover{
    color: rgb(203,153,126);
}

.linea-final{
    border-bottom: 1px solid black;
}
/* 

@media only screen and (max-width: 600px){
    .imagen{
        height: auto;
    }
    h1{
        font-size: 20px;
    }   
    
} */

@media only screen and (max-width: 768px){
    .imagen{
        height: auto;
    }
    h1{
        font-size: 30px;
    }   
    .titulo{
        padding-top: 80px;
        padding-bottom: 90px;
        /* padding-bottom: 70px; */
    }
    
    .iconos{
        display:none;
    }
    .iconos2{
        font-size: 10px;
        margin-top: 5px;
    }
   
    .img-margin{
        margin-right: 80px;
    }
    .navbar-nav.navbar-center {
    position: absolute;
    left: 90%;
    }

} 

@media (min-width: 769px) and (max-width: 1100px) {
    
}

