*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ede0d4;
    height: 1450px;
}

html{
    scroll-behavior: smooth;
}

/* BARRA DE NAVEGACION */

.underline-from-left {
    width: 400px;
    margin: 0 auto;
    background-image: linear-gradient(#ede0d4,#ede0d4);
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition: background-size 1.0s;
    background-position: left 100%;
}

.underline-from-left:hover {
    background-size: 100% 1px;
}

.active:hover{
    text-decoration: underline;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);  
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 88%;
}

.iconos{
    font-size: 12px;
    margin-top: 8px;
    color: black;
}

.lista{
    font-size: 2em;
}

.navbar-nav{
    margin-left: 1.5em !important;
}

.imagen{
    width: 100vw;
    height: 100vh;
    background-image: url('imagenes/Evento2.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

.hero2{
    width: 100vw;
    height: 100vh;
    background-image: url('imagenes/Evento1.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
}

.barra{
    font-family:'Quicksand', sans-serif;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    font-size: 1em;
    font-weight: 700;
    /* background-color:silver;
    opacity: 0.5; */
}

.marca{
    margin-left: 30px;
    font-weight: 900;
    color:#ede0d4 !important;
}

h1{
    /* color:#ede0d4; */
    color:#ffffff;
    text-align:center;
    font-size: 150px;
    font-family: 'MonteCarlo', cursive;
    padding-left: 40px; 
}


h2{
    color:red;
    text-align:center;
} 

.titulo{
    padding-top: 190px;
    padding-left: 40px;
}

.subtitulo{
    color:#ffffff;
    /* color:#ede0d4; */
    text-align:center;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 100px;
    margin-top: 10px;
}

/* IMAGENES */

.tituloSecundario{
    color:#000000;
    text-align:left;
    font-size: 70px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 40px;
    margin-top: 50px;
    border-bottom: 1px solid #000000;   
}

img{
    margin-top: 30px;
    border-radius: 10px;
}
/* NOSOTRAS */

.textos-varios{
    font-size: 20px;
    width: 500px;
    font-family:'Quicksand', sans-serif;
    margin-left: 30px;
    margin-top: 20px
}

.videos{
    width: 320px;
    height: 200px;
}

/* SERVICIOS */

.textos-varios2{
    font-size: 20px;
    width: 400px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px
}

.lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}


/* CONTACTO */

h4{
    color:black;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
}

.form-label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 12px;   
}

.input-mail{
    width: 400px;
}
.btn{
    margin-top: 10px;
    border: 1px solid black;
}
.btn:hover{
    background-color: black;
    color:whitesmoke;
}

.iconos2{
    font-size: 10px;
    color:black;
    margin-top: 30px;
}

.iconos2:hover{
    color: #ffffff;
}

.linea-final{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    padding-top: 25px;
}

.contacto{
    height: 450px;
}


@media only screen and (max-width: 768px){

    .underline-from-left {
    width: 300px;
    margin: 0 auto;
    background-image: linear-gradient(#ede0d4,#ede0d4);
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition: background-size 1.0s;
    background-position: left 100%;
    }

    .imagen{
        width: 100vw;
        height: 45vh;
    }

    .hero2{
        width: 100vw;
        height: 45vh;
        background-attachment:local ;
    }
    h1{
        font-size: 70px;
    } 

    .barra{
        font-size: 0.8em;
    }
    
    .titulo{
        padding-top: 80px;
        color: brown;
    }

    .subtitulo{
        font-size: 20px;
        padding-bottom: 15em; 
        padding-left: 2.5em;  
    }

    .tituloSecundario{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .iconos{
        display:none;
    }

    .iconos2{
        font-size: 10px;
        margin-top: 5px;
    }

    .img-margin{
        margin-right: 80px;
    }
    
    .navbar-toggler-icon{
        font-size: 10px;
    }

    .textos-varios{
        font-size: 18px;
        width: 300px;
        margin:0 auto;
    }

    .textos-varios2{
        font-size: 18px;
        width: 300px;
        margin-right: 2.3em;
    }

    .lista{
        justify-content: center;
    }

    .input-mail{
        width: 300px;
    }



} 
/* 
@media (min-width: 300px) and (max-width: 767px) {
    .imagen{
        width: 100vw;
        height: 80vh;
    }
    .titulo{
        padding-top: 100px;
        padding-left: 40px;
        color: aquamarine;
    }

    .iconos{
        display:none;
    }

    .videos{
        width: 220px;
        height: 150px;
    }

    .hero2{
        width: 100vw;
        height: 80vh;
        background-attachment:local ;
    }
    
}
 */
